<h1>Bienvenido a mi primer proyecto Backend</h1>

<h2>Mis productos de video juegos</h2>
<div class="contenedorCards">
    {{#each products}}
    <div class="card">
        <p>{{this.title}} </p>
        <p>{{this.description}} </p>
        <p>{{this.price}} </p>
    </div>
    {{/each}}
</div>

<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
<script src="js/index.js"></script>
